*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
    text-decoration: none;
    list-style: none;
   
}

.navigation{
    
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 42.62%;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    color: #222527;

    background: #FFFFFF;
    border: 1px solid rgba(124, 124, 124, 0.25);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 18px;
   
    transition: all 0.5s;
    
}


.navigation .logo{
    
    height: 78px;
    width: 211px;
    left: 49px;
    top: 16px;
    border-radius: 0px;
    
    
   
    
}
 .navigation .nav-item{
     cursor: pointer;
       
 }
 .menu .bar{
    left: 93.47%;
    right: 3.75%;
    top: 36.84%;
    bottom: 40.79%;
     
 }
 .livro-container{
    height: 377.7594909667969px;
    width: 50%;
    left: 0px;
    top: 0px;
    border-radius: 3px;
    padding: 37px 0px ;
    

 }

 .btn_visu{
    background-color: white;
    box-sizing: border-box;
    width: 200px;
    height: 80px;
    left: 45px;
    top: 628px;
    padding: 37px 0px ;
    border: 3px solid #0078D4;
    border-radius: 70px;
    margin-top: 40px;
    margin-left: 60px;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 5px;
    cursor: pointer;   
    display: flex;
    align-items: center;
    justify-content:center ;
 }
 .livro_detalhe{
    width: 60%;
    height: 215px;
    margin-top: 20px;
    top: 218px;
    font-family: 'Libre Franklin';
    font-style: normal;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    justify-content:  center;
    margin-right: 20px;
   
 }

 .livro_detalhe .container-detalhe-superior {
   max-height: 830px;
   
    
 }
  
 
 .agrupa_livros{
     
     max-width: 100vw;
     display:flex ;
     padding: 10px;
     
 }
 .sinopse{
    
    margin-top: 10px;
    width: 90%;
    height: 215px;
    top: 218px;
    text-align: center;
    max-height: 600px;
    margin-left: 90px;
   
 }
 .titulo{
         

        font-family: Libre Franklin;
        font-size: 26px;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: 0em;
        margin-top: 30px;
        margin-left: 150px;
    
 }
 

 .Informa_livro{
   display: flex;
   justify-content: center;
   margin-top: 30px; 
   font-family: 'Libre Franklin';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   padding: 70px;
   margin-left: 200px;

   }
.ano_lanca{
    
   margin-left: 50px;
   margin-right: 20px;
   
}

body {
   align-items: center;
 
   background-color: #baccdf;
   color: black;
   font-size: 25px;
   padding-right:45px ;
 }
 
 .dark-mode {
   background-color: #3a3a3a;
   color: white;
 }
 .header-container {
   display: flex;
   padding: 1rem;
   padding-bottom: 1.25rem;
   padding-left: 3rem;
   justify-content: space-between;
   border-bottom: 1px solid #d1d5db;
 }


 .nav-container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5rem;
 }

 button {
   background-color: transparent;
   background-repeat: no-repeat;
   border: none;
   cursor: pointer;
   overflow: hidden;
   outline: none;
 }

 @media screen and (max-width : 930px){
   *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Popins', sans-serif;
      text-decoration: none;
      list-style: none;
     
  }
   .header-container{
      
      height: 90px;
      line-height: 90px;

   }
   body{
    
       /* background-color: red;  */
      padding-right:1px ;
       
   
   }
   
   .titulo{
      font-family: Libre Franklin;
      font-size: 19px;
      font-weight: 700;
      line-height: 5px;
      letter-spacing: 0em;
      margin-top: 10px;
      margin-left: 80px;
  
}
  .sinopse{   
      text-align:  start;
      display: flex; 
      margin-top: 10px;
      width: 90%;
      height: 215px;
      top: 100px;
      max-height: 100px;
      margin-left: 50px;
      font-size: 15px;
      
      
   
   }
   .agrupa_livros{
      justify-content: center;
      max-width: 100vw;
      display:flex ;
      padding: 5px;
      
  }

  .img{
      margin-right: 70px;
       display: flex;
       align-items: center;
       text-align: center;
       justify-content: space-between;
       padding: 15px;
        width: 170px;
    }

    .btn_visu {
      width: 80px;
      height: 20px;
      left: 25px;
      border-radius: 20px;
      margin: 30px;
      cursor: pointer;
       
      font-weight: 700;
      font-size: 19px;
      line-height: 15px;
       
    }
   

   
   

   .Informa_livro{
      
   display: flex;
   justify-content: center;
   margin-top: 150px; 
   font-family: 'Libre Franklin';
   font-style: normal;
   font-weight: 200;
   font-size: 14px;
   padding: 70px;
   margin-left: 0px;

   }


      
   }

   @media screen and (max-width : 730px){
    
      

      body{ 
          
         padding-right:1px ;
         
      }


      .btn_visu {
         width: 60px;
         height: 5px;
         border-radius: 20px;
         margin: 30px;
         cursor: pointer;
         font-weight: 700;
         font-size: 15px;
         line-height: 15px;
          
       }

       .img{
         margin-right: 5px;
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: space-between;
          padding: 15px;
           width: 120px;
       }

         
   .titulo{
      font-family: Libre Franklin;
      font-size: 19px;
      font-weight: 700;
      line-height: 1px;
      letter-spacing: 0em;
      margin-top: 0;
      margin-left:90px;
  
}


.Informa_livro{
      
   
    
   margin-top: 130px; 
   font-family: 'Libre Franklin';
   font-style: normal;
   font-weight: 200;
   font-size: 13px;
   padding: 10px;
   width: 20%;
   margin-left: 150px;
   
   

    
    
   }

     .agrupa_livros{
      justify-content: center;
      max-width: 530px;
      display:flex ; 
      
  }    



  .sinopse{   
    text-align:start;
     display: flex; 
     margin-top: 10px;
     width: 127%;
     height: 200px;
     top: 80px;
     max-height: 200px;
     margin-right: 270px;
     font-size: 15px;
    font-weight: 500; 
    padding: 5px;
    margin-left: 8px;
    
   
  }

   }

   @media screen and (max-width : 560px){


    body{
        
      padding-right:1px ;
         
      }

      .header-container{
         position: relative;
         height: 70px;
         line-height: 190px;
   
   
      }

      .titulo{
         font-family: Libre Franklin;
         font-size: 15px;
         font-weight: 700;
         line-height: 1px;
         letter-spacing: 0em;
         margin-top: 10px;
         margin-left:100px;
     
   }
   .img{
      margin-top: 40px;
      margin-right: 5px;
       display: flex;
       align-items: center;
       text-align: center;
       justify-content: space-between;
       padding: 10px;
        width: 90px;
    }

      .sinopse{   
          
         text-align:justify;
         display: flex; 
         margin-top: 5px;
         width: 320px;
         height: 200px;
         top: 50px;
         max-height: 200px;
         margin-right: 270px;
         font-size: 15px;
         font-weight: 500; 
         padding: 0;
     
    }


    .Informa_livro{
      
      display: flex;
      margin-top: 105px; 
      font-family: 'Libre Franklin';
      font-style: normal;
      font-weight: 200;
      font-size: 13px;
      padding: 80px;
      width: 50%;
      margin-left: 60px;
       
      }
      .agrupa_livros{
      
      width: 50;
          
      }
      
      .btn_visu {
       width: 10px;
      height: 25px;
      border-radius: 15px;
      margin: 20px;
      cursor: pointer;
      font-weight: 700;
      font-size: 19px;
      line-height: 19px;
      display: inline-block;
      padding: 15px 32px; 
      margin-left: 10px;
      padding: 15px 32px;
      font-size: 16px;
       margin-top: 30px;
       display: flex;
       justify-content: center;
       align-items: center;
     
   
   
   }
}
 
   /* @media only screen and (max-width: 930px) {
      .agrupa_livros {
       flex-direction: column;
    }

   .img{
      
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: space-between;
      padding: 5px;
      width: 150px;
    }
   .btn_visu .livro-content{
     
    
      display: inline-block;
      margin: 10px;
      cursor: pointer;
      border-radius: 50px;
      flex-direction: column;
       
    }
   }

   .agrupa_livros {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
   }
   .livro-container .btn_visu {
      display:inline-block;
   }
   .container-detalhe-superior .sinopse {
      text-align: center;
      width: 100%;
   }
   .livro_detalhe {
      width: 100%;
   }
   .livro-container {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
   }


 
@media only screen and (max-width: 520px) {
   .agrupa_livros {
      flex-direction: column;
   }
   .agrupa_livros {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
   }
   .livro-container .btn_visu {
      display:inline-block;
   }
   .container-detalhe-superior .sinopse {
      text-align: center;
      width: 100%;
   }
   .livro_detalhe {
      width: 100%;
   }
   .livro-container {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
   }
} */